* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#first-container {
  background: #2c2d2e;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#second-container {
  background: #2c2d2e;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#message {
  font-family: "Modak";
  top: 50px;
  position: absolute;
}

.opponent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#opponent_image {
  width: 100px;
  height: 100px;
  background: rgb(121, 115, 115);
  transform: rotate(180deg);
  border-radius: 10px;
}
.you {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.buttons {
  border-radius: 10px;
  border: none;
  margin: 10px;
  outline: none;
  width: 100%;
  height: 50%;
  background: rgb(121, 115, 115);
}
.buttons > * {
  width: 100px;
}

.buttons:last-child > * {
  transform: rotate(-90deg);
}

#reset {
  font-family: "Modak";
  outline: none;
  padding-top: 25px;
  font-size: 3em;
  border: none;
  width: 100%;
  height: 30%;
}
